.note-main-container {
    .header-wrapper {
        margin-bottom: 20px;

        .logo {
            width: 60px;
            height: 60px;
            background-image: url(../../images/Notice_icon.png);
            background-repeat: no-repeat;
            background-size: 60px;
            background-position: left;
            margin-right: 20px;
            transition: 0.2s;

            @include for-wide-layout {
                background-image: url(../../images/notice_logo.svg);
                width: 150px;
                background-size: 200px;
                background-position: center;
            }
        }
    }

    // .note-counter {
    //     margin: 20px 0;
    //     text-align: center;
    // }

    .note-list-container {
        .note-list-wrapper {
            @include for-wide-layout {
                max-width: fit-content;
                -webkit-columns: 280px auto;
                -moz-columns: 280px auto;
                columns: 280px auto;
                -webkit-column-gap: 20px;
                -moz-column-gap: 20px;
                column-gap: 20px;
                // display: block;
            }
            transition: 1s;
            margin: 0 auto;
            // max-width: 95%;
            .note {
                animation: note-anim 1s;
                border: 1px solid $clr4;
                padding: 10px;
                width: 100%;
                margin-bottom: 20px;
                border-radius: 6px;
                display: inline-block;
                word-wrap: break-word;

                transition: all ease-in 0.2s;

                .note-title {
                    margin-bottom: 5px;
                    color: darken($color: $clr2, $amount: 12);
                }
                .note-text {
                    margin-bottom: 20px;
                    font-weight: lighter;
                    white-space: break-spaces;
                }
                .manage-buttons {
                    > * {
                        background-color: transparent;
                        color: $clr2;
                        border: 0;
                        border-radius: 3px;
                        padding: 2px 5px;
                        margin-right: 10px;
                        cursor: pointer;
                        transition: 0.2s;
                        outline: none;
                        letter-spacing: 0.5px;
                        &.edit-button {
                            color: $eclr5;
                        }
                        &.delete-button {
                            color: $eclr5;
                        }
                    }
                }
            }
        }
    }
}

@keyframes note-anim {
    from {
        opacity: 0;
    }
}
