@font-face {
    font-family: sofia-pro-regular;
    src: url(../../fonts/Sofia_Pro_Regular.otf);
}
@font-face {
    font-family: sofia-pro-semi-bold;
    src: url(../../fonts/Sofia_Pro_Semi_Bold.otf);
}
