// Colors
$clr1: #1e272e;
$clr2: #485460;
$clr3: #808e9b;
$clr4: #d2dae2;
$clr5: #dff0ea;
$clr6: #fff;

//More Colors
$eclr1: #2ecc71;
$eclr2: #ff3838;
$eclr3: #ff9f1a;
$eclr4: #fff200;
$eclr5: #17c0eb;
$eclr6: #7158e2;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
